@import url("./style.css");

.atividade{
    margin-bottom: 14px;
}

.cartao-atividade{
    padding:0 16px;
}

.subtitulo-seguidores{
    font-size: 14px;
    font-weight: 500;
    color:var(--primario);
    margin-left: 12px;
}

.publicacao{
    padding: 0 8px 0 16px;
}

.publicacao-nome, .publicacao-data{
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
    color:var(--texto-secundario);
}

.publicacao-perfil{
    display: flex;
    align-items: center;
    gap:5px;
}

.publicacao-conteudo{
    display:flex;
    align-items: center;
    gap:10px;
}

.imagem-publicacao{
    width: 60px;
}

.texto-publicacao{
    font-size: 14px;
    font-weight: 400;
}

.linha{
    border-bottom: 1px solid var(--texto-secundario);
}

.botao-final{
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--texto-secundario);
    padding: 8px 0;
}

.todas-atividades{
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color:var(--texto-secundario);
}

.todas-atividades:hover{
    transform: scale(1.1);
}